# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build output
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
Thumbs.db
Desktop.ini

# Python cache
.pytest_cache/
.mypy_cache/

# GitHub
.github/*.tmp